body {
    background-image: url('../img/backToSchool.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2F303A;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 154.2%;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* levels */

#title {
    margin-top: 244px;
}

.divs {
    display: block;
    text-align: center;
}

h1,
p {
    letter-spacing: 0.09em;
}

a {
    cursor: pointer;
}


/* learn-test buttons */

#bottomText {
    margin: 140px 100px 50px;
}

.text {
    font-size: 1.5em;
    letter-spacing: 0.09em;
}

#main {
    margin-left: auto;
}

#learn-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-learn-test {
    width: 420px;
    height: 420px;
    background-color: #202027;
    border-radius: 160px;
    text-align: center;
    margin: 55px;
    flex-wrap: wrap;
    transition: all .2s ease-in-out;
}

.btn-learn-test:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in-out;
    background-color: #1762A7;
}

#learn {
    padding: 15px 0px;
}

#learnImg {
    margin: 10px;
}

#test-img {
    margin: 10px;
}

#test {
    padding: 55px 80px;
}